table {
    border-spacing: 0;
    margin: 0 auto;
}

td {
    border: 1px solid #000;
    border-left: none;
    border-top: none;
    padding: 0.75rem 1rem;
}

td.empty {
    background-color: #000;
}

td:first-child {
    border-left: 1px solid #000;
}

tr:first-child td {
    border-top: 1px solid #000;
}